*{box-sizing: 
    border-box;
}
.clearfix::after {
    content: "";
    clear: both;
    display: table;
  }
img.displayed{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top:0;
}
header{
    box-shadow: 0 0 5px 2px #00000040;
}
header>section>p{
    float:right;
    margin:1%;
}
header>section>p:last-child{
    float:left;
}
.flottant1{
    float: left;
    width:300px;
}
.flottant{
    float:right;
    width:300px;
}
.reduit{
    margin:0 auto;
    width:800px;
}

a{
    text-decoration: none;
    color:black;
}
a:hover {
    background-color: grey;
}